.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.700195;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:46.552000px;}
._9{width:47.828000px;}
._1{width:663.432000px;}
._7{width:890.472000px;}
._6{width:917.532000px;}
._8{width:1025.860000px;}
._4{width:1059.256000px;}
._3{width:1083.940000px;}
._2{width:1140.348000px;}
._5{width:1454.512049px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs3{font-size:42.000000px;}
.fs1{font-size:44.000000px;}
.fs0{font-size:56.000000px;}
.y0{bottom:80.500000px;}
.y3a{bottom:82.700023px;}
.y39{bottom:114.555980px;}
.y38{bottom:127.984019px;}
.y37{bottom:141.143990px;}
.y36{bottom:153.619029px;}
.y35{bottom:167.047008px;}
.y34{bottom:180.474986px;}
.y33{bottom:193.634987px;}
.y32{bottom:205.841988px;}
.y31{bottom:218.317027px;}
.y30{bottom:231.745006px;}
.y2f{bottom:245.172984px;}
.y2e{bottom:258.332985px;}
.y2d{bottom:270.539986px;}
.y2c{bottom:283.015025px;}
.y2b{bottom:297.443004px;}
.y2a{bottom:324.031013px;}
.y29{bottom:336.238014px;}
.y28{bottom:348.445015px;}
.y27{bottom:360.919993px;}
.y26{bottom:374.080025px;}
.y25{bottom:386.286995px;}
.y24{bottom:398.761973px;}
.y23{bottom:411.922005px;}
.y22{bottom:424.128975px;}
.y21{bottom:436.604014px;}
.y20{bottom:449.763985px;}
.y1f{bottom:461.970985px;}
.y1e{bottom:474.445994px;}
.y1d{bottom:488.874002px;}
.y1c{bottom:512.301991px;}
.y1b{bottom:525.729991px;}
.y1a{bottom:539.158000px;}
.y19{bottom:552.318001px;}
.y18{bottom:564.793009px;}
.y17{bottom:588.220988px;}
.y16{bottom:601.648997px;}
.y15{bottom:614.808998px;}
.y14{bottom:627.284007px;}
.y13{bottom:641.711986px;}
.y4f{bottom:660.663005px;}
.y12{bottom:668.568004px;}
.y4e{bottom:674.091014px;}
.y11{bottom:681.996013px;}
.y4d{bottom:687.519014px;}
.y10{bottom:695.424006px;}
.y4c{bottom:701.532000px;}
.yf{bottom:709.852000px;}
.y4b{bottom:715.545000px;}
.y4a{bottom:729.557994px;}
.ye{bottom:733.279994px;}
.y3b{bottom:740.000000px;}
.y49{bottom:743.986003px;}
.yd{bottom:746.708003px;}
.yc{bottom:766.850001px;}
.y48{bottom:774.870006px;}
.yb{bottom:780.277995px;}
.y47{bottom:790.311992px;}
.ya{bottom:794.706004px;}
.y46{bottom:805.753993px;}
.y45{bottom:819.182002px;}
.y9{bottom:821.561999px;}
.y44{bottom:834.623996px;}
.y8{bottom:834.990001px;}
.y7{bottom:848.418002px;}
.y43{bottom:850.065997px;}
.y6{bottom:861.845996px;}
.y42{bottom:865.507998px;}
.y5{bottom:875.273997px;}
.y41{bottom:878.936000px;}
.y4{bottom:889.701999px;}
.y40{bottom:892.363997px;}
.y3f{bottom:905.791999px;}
.y3{bottom:916.558000px;}
.y3e{bottom:919.219998px;}
.y2{bottom:929.985999px;}
.y3d{bottom:932.647999px;}
.y1{bottom:944.219999px;}
.y3c{bottom:947.075999px;}
.h6{height:28.710938px;}
.h7{height:30.486328px;}
.h3{height:31.582031px;}
.h5{height:31.947266px;}
.h4{height:32.033203px;}
.h2{height:40.660156px;}
.h8{height:204.000000px;}
.h1{height:886.000000px;}
.h0{height:1008.000000px;}
.w1{width:505.500000px;}
.w0{width:612.000000px;}
.x0{left:52.500000px;}
.x4{left:54.150002px;}
.x5{left:72.150002px;}
.x6{left:108.150002px;}
.x3{left:201.391998px;}
.x2{left:207.166000px;}
.x1{left:287.829002px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:62.069333pt;}
._9{width:63.770667pt;}
._1{width:884.576000pt;}
._7{width:1187.296000pt;}
._6{width:1223.376000pt;}
._8{width:1367.813333pt;}
._4{width:1412.341333pt;}
._3{width:1445.253333pt;}
._2{width:1520.464000pt;}
._5{width:1939.349398pt;}
.fs2{font-size:53.333333pt;}
.fs3{font-size:56.000000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:74.666667pt;}
.y0{bottom:107.333333pt;}
.y3a{bottom:110.266697pt;}
.y39{bottom:152.741306pt;}
.y38{bottom:170.645359pt;}
.y37{bottom:188.191986pt;}
.y36{bottom:204.825372pt;}
.y35{bottom:222.729343pt;}
.y34{bottom:240.633315pt;}
.y33{bottom:258.179983pt;}
.y32{bottom:274.455983pt;}
.y31{bottom:291.089369pt;}
.y30{bottom:308.993341pt;}
.y2f{bottom:326.897312pt;}
.y2e{bottom:344.443980pt;}
.y2d{bottom:360.719981pt;}
.y2c{bottom:377.353367pt;}
.y2b{bottom:396.590672pt;}
.y2a{bottom:432.041351pt;}
.y29{bottom:448.317352pt;}
.y28{bottom:464.593353pt;}
.y27{bottom:481.226658pt;}
.y26{bottom:498.773366pt;}
.y25{bottom:515.049327pt;}
.y24{bottom:531.682631pt;}
.y23{bottom:549.229340pt;}
.y22{bottom:565.505300pt;}
.y21{bottom:582.138686pt;}
.y20{bottom:599.685313pt;}
.y1f{bottom:615.961314pt;}
.y1e{bottom:632.594659pt;}
.y1d{bottom:651.832003pt;}
.y1c{bottom:683.069321pt;}
.y1b{bottom:700.973321pt;}
.y1a{bottom:718.877333pt;}
.y19{bottom:736.424001pt;}
.y18{bottom:753.057345pt;}
.y17{bottom:784.294651pt;}
.y16{bottom:802.198663pt;}
.y15{bottom:819.745331pt;}
.y14{bottom:836.378676pt;}
.y13{bottom:855.615981pt;}
.y4f{bottom:880.884007pt;}
.y12{bottom:891.424005pt;}
.y4e{bottom:898.788019pt;}
.y11{bottom:909.328017pt;}
.y4d{bottom:916.692019pt;}
.y10{bottom:927.232009pt;}
.y4c{bottom:935.375999pt;}
.yf{bottom:946.469334pt;}
.y4b{bottom:954.060000pt;}
.y4a{bottom:972.743992pt;}
.ye{bottom:977.706659pt;}
.y3b{bottom:986.666667pt;}
.y49{bottom:991.981337pt;}
.yd{bottom:995.610671pt;}
.yc{bottom:1022.466668pt;}
.y48{bottom:1033.160007pt;}
.yb{bottom:1040.370660pt;}
.y47{bottom:1053.749322pt;}
.ya{bottom:1059.608006pt;}
.y46{bottom:1074.338657pt;}
.y45{bottom:1092.242669pt;}
.y9{bottom:1095.415999pt;}
.y44{bottom:1112.831994pt;}
.y8{bottom:1113.320001pt;}
.y7{bottom:1131.224003pt;}
.y43{bottom:1133.421329pt;}
.y6{bottom:1149.127995pt;}
.y42{bottom:1154.010665pt;}
.y5{bottom:1167.031996pt;}
.y41{bottom:1171.914666pt;}
.y4{bottom:1186.269332pt;}
.y40{bottom:1189.818663pt;}
.y3f{bottom:1207.722665pt;}
.y3{bottom:1222.077333pt;}
.y3e{bottom:1225.626664pt;}
.y2{bottom:1239.981332pt;}
.y3d{bottom:1243.530665pt;}
.y1{bottom:1258.959999pt;}
.y3c{bottom:1262.767999pt;}
.h6{height:38.281250pt;}
.h7{height:40.648438pt;}
.h3{height:42.109375pt;}
.h5{height:42.596354pt;}
.h4{height:42.710938pt;}
.h2{height:54.213542pt;}
.h8{height:272.000000pt;}
.h1{height:1181.333333pt;}
.h0{height:1344.000000pt;}
.w1{width:674.000000pt;}
.w0{width:816.000000pt;}
.x0{left:70.000000pt;}
.x4{left:72.200002pt;}
.x5{left:96.200002pt;}
.x6{left:144.200002pt;}
.x3{left:268.522664pt;}
.x2{left:276.221334pt;}
.x1{left:383.772003pt;}
}
